h1 {
    color: black;
    font-family:'Arial Narrow Bold', sans-serif;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

#top{
    font-size: 16px;
    margin-left: 0px;
    width: 200px;

}

button {
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    width: 130px;
    margin-left: 50px;
    border-radius: 10px;
}

body{

    background-image: url(https://images.immediate.co.uk/production/volatile/sites/30/2020/08/processed-food700-350-e6d0f0f.jpg?quality=90&resize=556,505);
    background-repeat: no-repeat;
}

#header {
    width: 300px;
    
}

hr {
    width: 220px;
}

img {
    width: 150px;
    height: auto;
}